<div class="wrapper">
        <div class="card shadow col-md-4 col-sm-4" *ngFor="let item of attentedEvents">  
        <div class="card-body" >
             <div><h4><b>{{item.eventName}}</b></h4></div>
            <div><img src="{{item.eventBanner}}" alt=""></div>
            <div class="rating"><img src="{{item.star}}" alt=""></div>
            <table>
                <!-- <tr>
                    <td ><b>Event name</b></td>
                    <td>test event</td>
                </tr> -->
                <tr>
                    <td><b>About</b></td>
                    <td style="width: 70%;">{{item.description}}</td>
                </tr>
                <tr>
                    <td><b>Location</b></td>
                    <td>{{item.location}}</td>
                </tr>
                <tr>
                    <td><b>From</b></td>
                    <td>{{item.eventStartDate | date:'medium' }}</td>
                </tr>
                <tr>
                    <td><b>To</b></td>
                    <td>{{item.eventEndDate| date:'medium' }}</td>
                </tr>
            </table>
            <!-- <button class="btn">Join</button> -->
        </div>
        </div>
</div>